/* background and section */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/bg-3.jpg');
  background-size: cover;
}

.logbook-hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/card2.jpg');
  background-size: cover;
}

/* Search bar */
.search{
  margin-bottom: auto;
  /* margin-top: 20px; */
  height: 70px;
  background-color: #fff;
  padding: 10px;
  border-radius: 50px;
}

.search-input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  margin-top: 5px;
  caret-color: transparent;
  line-height: 40px;
  transition: 0.5s;
}

.search .search-input{
  padding: 0 20px;
  width: 70%;
  caret-color: #536bf6;
  /* font-size: 18px; */
  font-weight: 300;
  color: black;
  transition: 0.5s;
}

.search-icon{
  height: 50px;
  width: 50px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #536bf6;
  border-radius: 50%;
}

.search-icon:hover{
  background:#1A237E;
  color:#fff;
}

.small-text:hover {
  text-decoration: underline;
}
